@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:focus {
outline: none;
}

$Montserrat : 'Montserrat', sans-serif;
$Open-Sans : 'Open Sans', sans-serif;

$color-primary: rgb(240, 240, 240);
$color-secondary: #406e8e;
$color-secondary-light: #39a1eb;
$color-text-title: #ffa84e;
$color-text-dataTitle : #dd4600;
$color-text-dataDesc : #737373;
$color-text-dataDate : #737373;

@mixin flex-column($justify, $align) {
    display: flex;
    flex-flow: column wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($justify, $align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: $justify;
    align-items: $align;
}

.login-block {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(129deg, rgba(0,97,126,1) 0%, rgba(17,196,196,1) 100%);
    @include flex-column( center, center );
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        background: rgb(0, 90, 173);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        clip-path: polygon(45% 0, 100% 0%, 55% 100%, 0 100%);
        top:0;
        right:-55%;
        width: 100%;
        height: 100%;
        background-blend-mode:multiply;
        filter: opacity(1);
        z-index: 1;
    }

    &::after {
        display: block;
        content: "";
        background: url("../Image/bg-home2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        clip-path: polygon(45% 0, 100% 0%, 55% 100%, 0 100%);
        top:0;
        right:-20%;
        width: 100%;
        height: 100%;
        background-blend-mode:multiply;
        filter: opacity(0.2);
        z-index: 1;
    }


    .login-block--box {
        height: 90%;
        z-index: 9999;
        width: 100%;
        text-align: left;
        position: relative;
        
        .login-block--form {
            position: absolute;
            width: 50%;
            top: 15%;
            left: 60px;


            h2 {
                font-family: $Montserrat;
                color: $color-primary;
                margin-bottom: 40px;
                font-size: 43px;
                padding-left: 5px;
            }

            form {
                @include flex-column(flex-start, flex-start);
                width: 80%;

                input {
                    width: 85%;
                    height: 30px;
                    background-color: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 3px solid $color-text-title;
                    padding-left: 10px;
                    font-size: 18px;
                    margin-bottom: 20px;
                    font-weight: 600;
                    padding-bottom: 10px;
                    color: $color-primary;

                    &::placeholder {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    &:focus::placeholder {
                        color: transparent;
                    }

                }

                button {
                    width: 100px;
                    height: 30px;
                    margin-top: 30px;
                    border: none;
                    background-color: $color-text-title;
                    color: rgb(41, 41, 41);
                    border-radius: 10px;
                    font-size: 14px;
                    padding: 5px;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                        background-color: $color-text-dataTitle;
                        color: #fff;
                    }
                }
            }

            .block__loginPage--form--authorization {
                width: 70%;
                text-align: left;
                line-height: 20px;
                font-family: $Open-Sans;
                font-weight: 600;

                    .block__loginPage--form--authorization__warning {
                        color: white;
                        font-size: 14px;
                        position: relative;
                        padding-left: 15px;
                        
                        &:nth-child(2) {
                            margin-top: 12px;
                        }

                    .icons {
                        position: absolute;
                        top: 5px;
                        left: -5px;
                    }
                }
            }
        }
    }
}
