@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:focus {
outline: none;
}

$Montserrat : 'Montserrat', sans-serif;
$Open-Sans : 'Open Sans', sans-serif;

$color-primary: rgb(240, 240, 240);
$color-secondary: #406e8e;
$color-secondary-light: #39a1eb;
$color-text-title: #ffa84e;
$color-text-dataTitle : #dd4600;
$color-text-dataDesc : #737373;
$color-text-dataDate : #737373;

@mixin flex-column($justify, $align) {
    display: flex;
    flex-flow: column wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($justify, $align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: $justify;
    align-items: $align;
}

.login-block {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(129deg, rgba(0,97,126,1) 0%, rgba(17,196,196,1) 100%);
    @include flex-column( center, center );

    &::before {
        display: block;
        content: "";
        background: url("../Image/component-graphic2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:0;
        right:-50%;
        width: 100%;
        height: 100%;
        background-blend-mode:multiply;
        filter: opacity(1);
    }

    &::after {
        display: block;
        content: "";
        background: url("../Image/bg-home2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        clip-path: polygon(45% 0, 100% 0%, 65% 100%, 0 100%);
        top:0;
        right:-20%;
        width: 100%;
        height: 100%;
        background-blend-mode:multiply;
        filter: opacity(0.2);
    }
    
    
    .login-block--box {
        width: 50%;
        height: 50%;
        z-index: 9999;
        position: absolute;
        left: 10%;
        text-align: left;

        h2 {
            font-family: $Montserrat;
            color: $color-primary;
            margin-bottom: 40px;
            font-size: 50px;
            padding-left: 5px;
        }

        form {
            @include flex-column(flex-start, flex-start);
            width: 80%;

            input {
                width: 300px;
                height: 30px;
                background-color: transparent;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 3px solid $color-text-title;
                padding-left: 10px;
                font-size: 18px;
                margin-bottom: 20px;
                font-weight: 600;
                padding-bottom: 10px;
                color: $color-primary;

                &::placeholder {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;
                }

                &:focus::placeholder {
                    color: transparent;
                }

            }

            button {
                width: 100px;
                height: 30px;
                margin-top: 20px;
                border: none;
                background-color: $color-text-title;
                color: #fff;
                border-radius: 10px;
                font-size: 14px;
                padding-bottom: 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .block__loginPage--form--authorization {
            width: 70%;
            text-align: left;
            line-height: 16px;
            font-family: $Open-Sans;
            font-weight: 600;

                .block__loginPage--form--authorization__warning {
                    color: white;
                    font-size: 12px;
                    position: relative;
                    padding-left: 15px;

                .icons {
                    position: absolute;
                    top: 2px;
                    left: -5px;
                }
            }
        }
    }
}
