.modal-block-container--listinfo {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    @include flex-column( center, center );
    z-index: 99999;
    
    .modal-block-container--listinfo-box {
        width: 50%;
        height: auto;
        background-color: $color-primary;
        border-radius: 10px;
        @include flex-row(flex-start, flex-start);
        padding: 60px 40px 60px 60px;
        position: relative;

        .modal-block-container--listinfo-box-contain {
            @include flex-column(flex-start, flex-start);
            width: 75%;
            height: auto;
       
            .modal-block-container--listinfo-box__titleInfo {
                color: $color-text-dataDesc;
                margin-bottom: 30px;
                h3 {
                    color: $color-button-cancel;

                    span {
                        color: $color-text-dataDesc;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                p {
                    font-size: 13px;
                    margin-top: 5px;
                    padding-left: 30px;

                    span {
                        color: $color-text-dataTitle;
                    }
                }
            }

            .modal-block-container--listinfo-box__descInfo {
                color: $color-text-dataDesc;
                width: 100%;
                height: 140px;
                margin-bottom: 30px;
    
                h3 {
                    color: $color-button-cancel;
                    span {
                        color: $color-text-dataDesc;
    
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
    
                p {
                    margin-top: 5px;
                }
    
                form {
                    input {
                        margin-top: 10px;
                        width: 95%;
                        height: auto;
                        padding: 10px 20px 30px 10px;
                        border: none;
                        font-size: 14px;
    
                        &:focus::placeholder {
                            color: transparent;
                        }
                    }
    
                    .modal-block-container--listinfo-box__descInfo--formbuttons {
    
                        @include flex-row(flex-start, center);
    
                        button {
                            margin-top: 10px;
                            padding: 10px 25px;
                            border: none;
                            background-color: $color-button-cancel;
                            border-radius: 5px;
                            color: $color-primary;
                            font-size: 12px;
                            font-weight: 600;
    
                            &:hover {
                                cursor: pointer;
                                background-color: #006a72;
                            }
                        }
    
                        .board-block-main-cancel {
                            font-size: 24px;
                            color: $color-text-dataDesc;
                            position: relative;
                            top: 8px;
                            margin-left: 8px;
    
                            &:hover {
                                cursor: pointer;
                                color: $color-text-dataTitle;
                            }
                        }
    
                    }
    
                }
    
                .modal-block-container--listinfo-box__descInfo--text {
                    margin-top: 10px;
                    width: 100%;
                    height: 60px;
                    padding: 5px 20px 20px 10px;
                    border: none;
                    font-size: 14px;
                    color: $color-text-dataDesc;
    
                    span {
                        height: 50px;
                    }
                }
            }

            .modal-block-container--listinfo-box__activityInfo {
                color: $color-text-dataDesc;
                width: 100%;
    
                h3 {
                    color: $color-button-cancel;
                }

                p {
                    margin-top: 8px;
                    font-size: 14px;
                    padding-left: 30px;

                    span {
                        font-weight: 600;
                        color: $color-button-cancel;
                    }

                    &:last-of-type {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }



            }
        }

        .modal-block-container--listinfo-box__optionButtons {
            @include flex-column(flex-start, flex-start);
            width: calc(25% - 10px);
            padding-left: 10px;

            .modal-block-container--listinfo-box__removeList {
                
                border: none;
                background-color: transparent;
                border-radius: 5px;
                color: $color-text-dataDesc;
                font-size: 14px;
                font-weight: 600;
    
                &:hover {
                    color: rgb(163, 37, 37);
                    cursor: pointer;
                }
            }

            .modal-block-container--listinfo-box__moveList {
                margin-top: 10px;
                padding: 10px 0px;
                border: none;
                background-color:transparent;
                border-radius: 5px;
                color: $color-text-dataDesc;
                font-size: 14px;
                font-weight: 600;
    
                &:hover {
                    color: #f58b00;
                    cursor: pointer;
                }
            }

            .modal-block-container--listinfo-box__closeModal {
                padding: 10px 0px;
                border: none;
                background-color:transparent;
                border-radius: 5px;
                color: $color-text-dataDesc;
                font-size: 14px;
                font-weight: 600;
    
                &:hover {
                    color: $color-secondary;
                    cursor: pointer;
                }
            }
        }

        .exitInfoModal {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            top: -20px;
            right: -20px;
            background-color: $color-text-dataDesc;

            span {
                font-size: 27px;
                position: relative;
                top: 15%;
                left: 18%;
                color: $color-primary;
            }

            &:hover {
                cursor: pointer;
                background-color: $color-text-cancel;
            }
            
        }
    }
}

.modal-block-container--listinfo.NotActive {
    display: none;
}