.modal-block-container.form {
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    @include flex-column( center, center );
    text-align: center;


    form {
        width: 45%;
        height: auto;
        padding: 60px 40px;
        background-color: $color-primary;
        border-radius: 20px;
        @include flex-column(center, center);
        position: relative;

        @media #{$phone-large} {
            width: 85%;
            max-height: 100vh;
        }

        h2 {
            font-family: $Montserrat;
            color: #008a94;
            font-weight: 600;
            align-self: flex-start;
            padding-left: 10.5%;
        }

        p {
            width:80%;
            text-align: left;
            font-family: $Open-Sans;
            color: $color-text-dataDesc;

            span {
                color: $color-text-dataTitle;
                font-weight: 600;
            }
        }

        .select-container {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;

            select {
                width: 80%;
                font-size: 100%;
                cursor: pointer;
                border-radius: 0;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $color-text-title;
                color: $color-secondary;
                appearance: none;
                padding: 10px;
                padding-right: 38px;
                -webkit-appearance: none;
                -moz-appearance: none;
                transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
              }
          
              /* For IE <= 11 */
              select::-ms-expand {
                display: none; 
              }
          
              .select-icon {
                position: absolute;
                top: 4px;
                right: 60px;
                width: 30px;
                height: 36px;
                pointer-events: none;
                padding-left: 5px;
                color: $color-text-title;
              }
              
          
              select:hover,
              select:focus {
                color:$color-secondary;
                border-bottom-color: #DCDCDC;
              }
              select:hover ~ .select-icon,
              select:focus ~ .select-icon {
                background-color: transparent;
                border: none;
              }
             
        }
        

        .modal-block-buttons {
            @include flex-row(center,center );

            .modal-block-cancel {
                margin-top: 10px;
                padding: 10px 25px;
                border-radius: 10px;
                width: 200px;
                border: none;
                background-color: $color-text-cancel;
                color: #fff;
                font-size: 13px;
                margin-right: 20px;

                @media #{$phone-large} {
                    margin-right: 0px;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: darken($color: $color-text-dataDesc, $amount: 1.5);
                }
            }
    
            .modal-block-move {
                margin-top: 10px;
                padding: 10px 25px;
                border-radius: 10px;
                width: 200px;
                border: none;
                background-color: $color-text-title;
                color: #fff;
                font-size: 13px;
    
                &:hover {
                    cursor: pointer;
                    background-color: darken($color: $color-text-dataTitle, $amount: 1.5);
                }
            }
        }
        
    }
}