@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

$Montserrat : 'Montserrat', sans-serif;
$Open-Sans : 'Open Sans', sans-serif;

$color-primary: rgb(240, 240, 240);
$color-secondary: #406e8eff;
$color-secondary-light: rgb(255, 255, 255);
$color-text-title: #ffa84e;
$color-text-dataTitle : #dd4600;
$color-text-dataDesc : #737373;
$color-text-cancel : #a7a7a7;
$color-button-cancel : #008a94;

@mixin flex-column($justify, $align) {
    display: flex;
    flex-flow: column wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($justify, $align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: $justify;
    align-items: $align;
}

.modal-block-container--listinfo {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    @include flex-column( center, center );
    z-index: 99999;
    
    .modal-block-container--listinfo-box {
        width: 45%;
        height: 47%;
        background-color: $color-primary;
        border-radius: 10px;
        @include flex-column(flex-start, flex-start);
        padding: 40px;
        position: relative;
       
        .modal-block-container--listinfo-box__titleInfo {
            color: $color-text-dataDesc;
            margin-bottom: 30px;
            h3 {
                color: $color-button-cancel;

                span {
                    color: $color-text-dataDesc;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            p {
                font-size: 13px;
                margin-top: 5px;
                padding-left: 30px;

                span {
                    color: $color-text-dataTitle;
                }
            }
        }

        .modal-block-container--listinfo-box__descInfo {
            color: $color-text-dataDesc;
            width: 100%;

            h3 {
                color: $color-button-cancel;
                span {
                    color: $color-text-dataDesc;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            p {
                margin-top: 5px;
            }

            form {
                input {
                    margin-top: 10px;
                    width: 100%;
                    height: auto;
                    padding: 10px 20px 30px 10px;
                    border: none;
                    font-size: 14px;

                    &:focus::placeholder {
                        color: transparent;
                    }
                }

                .modal-block-container--listinfo-box__descInfo--formbuttons {

                    @include flex-row(flex-start, center);

                    button {
                        margin-top: 10px;
                        padding: 10px 25px;
                        border: none;
                        background-color: $color-button-cancel;
                        border-radius: 5px;
                        color: $color-primary;
                        font-size: 12px;
                        font-weight: 600;

                        &:hover {
                            cursor: pointer;
                            background-color: #006a72;
                        }
                    }

                    div {
                        font-size: 24px;
                        color: $color-text-dataDesc;
                        position: relative;
                        top: 8px;
                        margin-left: 8px;

                        &:hover {
                            cursor: pointer;
                            color: $color-text-dataTitle;
                        }
                    }
                }

            }

            .modal-block-container--listinfo-box__descInfo--text {
                margin-top: 10px;
                width: 100%;
                height: 60px;
                padding: 5px 20px 20px 10px;
                border: none;
                font-size: 14px;
                background-color: #ebebeb;
            }
        }

        .modal-block-container--listinfo-box__optionButtons {

            .modal-block-container--listinfo-box__removeList {
                margin-top: 40px;
                padding: 10px 25px;
                border: none;
                background-color: rgb(197, 99, 99);
                border-radius: 5px;
                color: $color-primary;
                font-size: 12px;
                font-weight: 600;
    
                &:hover {
                    background-color: rgb(163, 37, 37);
                    cursor: pointer;
                }
            }

            .modal-block-container--listinfo-box__moveList {
                margin-top: 40px;
                margin-left: 20px;
                padding: 10px 25px;
                border: none;
                background-color: $color-text-title;
                border-radius: 5px;
                color: $color-primary;
                font-size: 12px;
                font-weight: 600;
    
                &:hover {
                    background-color: #f58b00;
                    cursor: pointer;
                }
            }
        }

        

        .exitInfoModal {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            top: -20px;
            right: -20px;
            background-color: $color-text-dataDesc;

            span {
                font-size: 27px;
                position: relative;
                top: 15%;
                left: 18%;
                color: $color-primary;
            }

            &:hover {
                cursor: pointer;
                background-color: $color-text-cancel;
            }
            
        }
    }
}

.modal-block-container--listinfo.modalActive {
    display: none;
}