@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

$Montserrat : 'Montserrat', sans-serif;
$Open-Sans : 'Open Sans', sans-serif;

$color-primary: rgb(240, 240, 240);
$color-secondary: #406e8eff;
$color-secondary-light: rgb(255, 255, 255);
$color-text-title: #ffa84e;
$color-text-dataTitle : #dd4600;
$color-text-dataDesc : #494949;
$color-text-cancel : #a7a7a7;

@mixin flex-column($justify, $align) {
    display: flex;
    flex-flow: column wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($justify, $align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: $justify;
    align-items: $align;
}

.modal-block-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    @include flex-column( center, center );
    z-index: 9999999999;

    .modal-block-box {
        width: 50%;
        height: auto;
        background-color: $color-primary;
        border-radius: 20px;
        padding: 60px 40px;
        text-align: center;
        @include flex-column(center, center);

        h2 {
            margin-bottom: 20px;
            font-family: $Montserrat;
            color: $color-text-dataTitle;
            font-weight: 600;
        }

        .modal-block-box--text {
            margin-bottom: 20px;
            width:80%;
            font-family:  $Open-Sans;
            color: $color-text-dataDesc;

            span {
                color: $color-text-dataTitle;
                font-weight: 600;
            }
        }

        .modal-block-buttons {
            @include flex-row(center,center );
            text-align: center;
    
            .modal-block-cancel {
                margin-top: 10px;
                padding: 10px 25px;
                border-radius: 10px;
                width: 200px;
                border: none;
                background-color: $color-text-cancel;
                color: #fff;
                font-size: 13px;
                margin-right: 20px;
    
                &:hover {
                    cursor: pointer;
                    background-color: darken($color: $color-text-dataDesc, $amount: 0);
                }
            }
    
            .modal-block-remove {
                margin-top: 10px;
                padding: 10px 25px;
                border-radius: 10px;
                width: 200px;
                border: none;
                background-color: $color-text-title;
                color: #fff;
                font-size: 13px;
    
                &:hover {
                    cursor: pointer;
                    background-color: darken($color: $color-text-dataTitle, $amount: 1.5);
                }
            }
        }
    }
}