@mixin inputStyle($inputColor) {
    font-size: 10px;
    margin-top: 8px;
    padding: 0;
    color: $inputColor;
}

.block__board {
    background-color: $color-primary;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background: rgb(0,97,126);
    background: linear-gradient(129deg, rgba(0,97,126,1) 0%, rgba(17,196,196,1) 100%);
    @include flex-column(flex-start, center);
    position: relative;

    @media #{$phone-large} {
        padding: 30px 0px 70px 0px;
    }

    @media #{$tablet-small} {
        padding: 30px 0px;
    }

    .loader {
        position:absolute; 
        top: 50%;
    }

    .block__board--main {
        height: 90%;
        width: 100%;
        padding: 20px;/* 
        overflow: hidden; */
        @include flex-row(flex-start, flex-start);

        @media #{$phone-small} {
            padding:20px 5px 5px 5px;
        }

        @media #{$phone-large} {
            padding:20px 5px 5px 5px;
        }

        
      

        .block__board--main.block__boxes {
            width: 100%;
            height: 100%;
            @include flex-row(flex-start, flex-start);

            .block__board--main.addform {
                width: calc(20% - 10px);
                min-width: 200px;
                height: auto;
                background-color: $color-primary;
                padding: 20px;
                margin: 5px;
                flex-grow: 0;
                text-align: left;
                border-radius: 5px;
                opacity: 0.6;
                filter: saturate(0);

                @media #{$phone-small} {
                    flex-grow: 1;
                }
        
                @media #{$phone-large} {
                    flex-grow: 1;
                }

                @media #{$tablet-small} {
                    min-width: 215px;
                    flex-grow: 0;
                }

                &:hover {
                    opacity: 1;
                    filter: saturate(1);
                }

                form {
                    width: 100%;

                    input {
                        width: 100%;
                        height: 40px;
                        padding-left: 5px;
                        font-size: 14px;
                        color: $color-text-dataDesc;
                        border: none;
                    }

                    .block__board--main.addform--inputError {
                        @include inputStyle(red);
                    }

                    .block__board--main.addform--input {
                        @include inputStyle($color-text-dataDesc);
                    }

                    button {
                        margin-top: 12px;
                        height: 30px;
                        width: 120px;
                        border: none;
                        border-radius: 10px;
                        background-color: $color-text-title;
                        color: #fff;
                        font-family: $Open-Sans;
                        font-weight: 600;

                        &:hover {
                            cursor: pointer;
                            background-color: $color-text-dataTitle;
                        }
                    }
                }
            }

            .block__board--main--eachbox {
                width: calc(20% - 10px);
                min-width: 200px;
                max-height: calc(100% - 10px);
                background-color: $color-primary;
                padding: 20px;
                margin: 5px;
                flex-grow: 0;
                text-align: left;
                border-radius: 5px;

                @media #{$phone-small} {
                    flex-grow: 1;
                }
        
                @media #{$phone-large} {
                    flex-grow: 1;
                }

                @media #{$tablet-small} {
                    min-width: 215px;
                    flex-grow: 0;
                }
                
                @media #{$tablet-large} {
                    flex-grow: 0;
                    width: calc(20% - 10px);
                    min-width: 160px;
                }

                .block__board--main--eachbox--addItem {
                    margin-bottom: 10px;

                    .block__board--main--eachbox--addItem__addform {
                        margin-top: 10px;
    
                        .block__board--main--eachbox--addItem__addform--inputbox {
                            background-color: $color-secondary-light;
                            margin-bottom: 10px;
                            padding: 10px 10px;
                            text-align: left;
                            line-height: 18px;
                            font-family: $Open-Sans;
                            -webkit-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                            -moz-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                            box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
    
    
                            input {
                                border: none;
                                font-size: 14px;
                                width: 100%;
                                color: $color-text-dataDesc;
    
                                &::placeholder {
                                    font-size: 12px;
                                }
    
                                &:focus::placeholder {
                                    color: transparent;
                                }
                            }
    
                        }
    
                        .block__board--main--eachbox--addItem__addform--formbutton {
                            width: 100%;
                            @include flex-row(flex-start, center);
    
                            .block__board--main--eachbox--addItem__addform--formbutton--addList {
                                padding: 8px 15px;
                                background-color: $color-button-cancel;
                                border-radius: 5px;
                                color: $color-primary;
                                font-family: $Open-Sans;
                                font-size: 12px;
                                font-weight: 600;
                                border: none;
    
                                &:hover {
                                    cursor: pointer;
                                    background-color: #006a72;
                                }
                            }
    
                            .block__board--main--eachbox--addItem__addform--formbutton--cancel {
                                font-size: 24px;
                                color: $color-text-dataDesc;
                                position: relative;
                                top: 3px;
                                margin-left: 5px;
    
                                &:hover {
                                    cursor: pointer;
                                    color: $color-text-dataTitle;
                                }
                            }
                        }
                    }
                }

                .block__board--main--eachbox--title {
                    @include flex-row( space-between, center );

                    .block__board--main--eachbox--title--menuDropdown {
                        position: relative;
                        margin-bottom: 5px;

                        button {
                            background: transparent;
                            border: none;
                            z-index: 9999;
                            color: $color-text-dataDesc;
    
                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .board-main-dropdown.active {
                            @include flex-column(flex-start, flex-start);
                        }
        
                        .board-main-dropdown {
                            display: none;
                            top: 25px;
                            right: 0;
                            width: 180px;
                            padding:10px;
                            z-index: 9999;
                            background:  rgb(255, 255, 255);
                            border-radius: 5px;
                            position: absolute;
                            -webkit-box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
                            -moz-box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
                            box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
        
                            button {
                                color: rgb(87, 87, 87);
                                background-color: rgb(250, 250, 250);
                                width: 100%;
                                font-size: 14px;
                                line-height: 0px;
                                text-align: left;
                                padding: 5px 15px 15px 15px;
                                border-bottom: 1px solid #dddddd;
                                
        
                                &:last-of-type {
                                    border-bottom: none;
                                }
        
                                &:hover {
                                    cursor: pointer;
                                    color: $color-text-dataTitle;
                                    background-color: rgb(203, 228, 230);
                                }
                            }
                        }
                    }
                }

                .block__board--main-addButton {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    color: $color-text-dataDesc;
                    margin-top: 10px;

                    &:hover {
                        color: $color-text-dataTitle;
                        cursor: pointer;
                    }
                }

                h4 {
                    color: $color-text-dataDesc;
                    font-family: $Montserrat;
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                span {
                    overflow: hidden;

                    ul {
                        list-style-type: none;
                        overflow-y: auto;
                        max-height: 65vh;
                        overflow-x: initial;;

                        .block__board--main--list {
                            background-color: $color-secondary-light;
                            margin-bottom: 10px;
                            padding: 10px 10px;
                            text-align: left;
                            line-height: 18px;
                            font-family: $Open-Sans;
                            -webkit-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                            -moz-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                            box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
        
                            .block__board--main--list--menu {
                                @include flex-row(space-between, center);
                                width: 100%;
                                position: relative;
        
                                .block__board--main--list--menu--info {
                                    width:85%;
                                    @include flex-column(center,flex-start);
        
                                    .block__board--main--list--menu--info--list-title {
                                        font-size: 14px;
                                        color: $color-text-dataTitle;
                                        font-weight: 600;
                
                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
        
                                    .block__board--main--list--menu--info--list-desc {
                                        width: 20%;
                                        font-size: 15px;
                                        color: $color-text-dataDesc;
                                        padding-top: 10px;
                
                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
                                }
        
                                .block__board--main--list--menu--infoDropdown {
                                    width: 15%;
                                    text-align: right;
                                    align-self: flex-end;
                                    @include flex-row(flex-end, flex-end);
                                    position: relative;
        
                                    button {
                                        border: none;
                                        background-color: transparent;
        
                                        &:hover {
                                            cursor: pointer;
                                            color: $color-text-dataTitle;
                                        }
                                    }
                                    
            
                                    .block__board--main--list--buttons__part.active {
                                        @include flex-column(flex-start, flex-start);
                                    }
        
                                    .block__board--main--list--buttons__part {
                                        display: none;
                                        padding: 10px;
                                        z-index: 999999;
                                        background:  rgb(255, 255, 255);
                                        border-radius: 5px;
                                        -webkit-box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
                                        -moz-box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
                                        box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
        
                                        button {
                                            color: rgb(87, 87, 87);
                                            background-color: rgb(182, 221, 223);
                                            font-size: 14px;
                                            line-height: 0px;
                                            text-align: left;
                                            padding: 5px 15px 15px 10px;
                                            margin-bottom: 5px;
                                            width: 100%;
                    
                                            &:last-of-type {
                                                color: rgb(87, 87, 87);
                                                background-color: rgb(182, 221, 223);
                                                font-size: 14px;
                                                line-height: 0px;
                                                text-align: left;
                                                margin-bottom: 0;
                                                padding: 5px 10px 15px 10px;
                                            }
                    
                                            &:hover {
                                                cursor: pointer;
                                                color: $color-text-dataTitle;
                                                background-color: rgb(203, 228, 230);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
    
                
            }
        }

      
    }
}