.board-block-header {
    height: 10%;
    width: 100vw;
    @include flex-row( space-between, center );

    .board-header--logo {
        width: 50%;
        height: 100%;
        @include flex-column( center, flex-start);

        .board-logo {
            padding-left: 60px;
            padding-top: 20px;
            width: 180px;
            transform: translateY(-15%);
        }
    }

    .board-header--logo.login {
        @include flex-column( flex-end, flex-start);
       .board-logo {
           width: 210px;
           
       }
    }

    .board-header--text {
        width: 50%;
        height: 100%;
        @include flex-row( flex-end, center );
        color: #fff;
        font-family: $Open-Sans;

        .board-header--info {
            @include flex-row( flex-end, center );
            padding: 10px 40px;
            margin-right: 50px;
            margin-top: 20px;
            border-radius: 30px;
            margin-top: 20px;
            background-color: $color-primary;
            z-index: 9999;

            .board-header-link {
                color: $color-text-dataTitle;
                font-size: 16px;
                font-weight: 700;
                font-family: $Open-Sans;
                text-decoration: none;
    
                &:hover {
                    cursor: pointer;
                    color: #000000;
                }
            }

            h4 {
                color: $color-text-dataTitle
            }

            span {
                margin: 0 10px;
                font-weight: 800;
                color: $color-text-title;
                font-family: $Open-Sans;
                font-weight: 700;
            }
            
            button {
                background: transparent;
                color: $color-text-dataDesc;
                border:none;
                font-size: 15px;
                font-weight: 700;
                font-family: $Open-Sans;

                &:hover {
                    cursor: pointer;
                    color: #363636;
                }
            }

        }
        
    }
    
    
}
