@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

$Montserrat : 'Montserrat', sans-serif;
$Open-Sans : 'Open Sans', sans-serif;

$color-primary: rgb(240, 240, 240);
$color-secondary: #406e8e;
$color-secondary-light: rgb(255, 255, 255);
$color-text-title: #ffa84e;
$color-text-dataTitle : #dd4600;
$color-text-dataDesc : #737373;
$color-text-dataDate : #737373;
$color-button-cancel : #008a94;

@mixin flex-column($justify, $align) {
    display: flex;
    flex-flow: column wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($justify, $align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: $justify;
    align-items: $align;
}

.board-container-block {
    background-color: $color-primary;
    height: 100vh;
    width: 100vw;
    background: rgb(0,97,126);
    background: linear-gradient(129deg, rgba(0,97,126,1) 0%, rgba(17,196,196,1) 100%);
    @include flex-column(center, center);
    position: relative;

    .board-block-main {
        height: 90%;
        width: 100%;
        padding: 0 20px 20px 20px;
        overflow: hidden;
        @include flex-row(flex-start, flex-start);

        .board-block-boxes {
            width: 100%;
            height: 100%;
            @include flex-row(flex-start, flex-start);

            .board-block-main--form {
                width: calc(20% - 10px);
                background-color: $color-primary;
                padding: 20px;
                margin: 5px;
                text-align: left;
                border-radius: 5px;
                opacity: 0.6;
                filter: saturate(0);

                &:hover {
                    opacity: 1;
                    filter: saturate(1);
                }

                form {
                    width: 100%;

                    input {
                        width: 100%;
                        height: 40px;
                        padding-left: 5px;
                        font-size: 14px;
                        color: $color-text-dataDesc;
                    }

                    .board-block-main--form-inputError {
                        font-size: 10px;
                        color: red;
                        margin-top: 8px;
                    }

                    .board-block-main--form-input {
                        font-size: 10px;
                        color: $color-text-dataDesc;
                        margin-top: 8px;
                    }

                    button {
                        margin-top: 12px;
                        height: 30px;
                        width: 120px;
                        border: none;
                        border-radius: 10px;
                        background-color: $color-text-title;
                        color: #fff;
                        font-family: $Open-Sans;
                        font-weight: 600;

                        &:hover {
                            cursor: pointer;
                            background-color: $color-text-dataTitle;
                        }
                    }
                }
            }

            .board-block-main--eachbox {
                width: calc(20% - 10px);
                max-height: calc(100% - 10px);
                background-color: $color-primary;
                padding: 20px;
                margin: 5px;
                text-align: left;
                border-radius: 5px;

                .board-block-addform {
                    background-color: $color-secondary-light;
                    margin-bottom: 10px;
                    padding: 10px 10px;
                    text-align: left;
                    line-height: 18px;
                    font-family: $Open-Sans;
                    -webkit-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                    -moz-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                    box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);

                    form {
                        width: 100%;
                        height: 30px;

                        input {
                            border: none;
                            font-size: 14px;
                            color: $color-text-dataDesc;

                            &:focus::placeholder {
                                color: transparent;
                            }
                        }

                        .board-block-main-addList {
                            padding: 8px 15px;
                            background-color: $color-button-cancel;
                            border-radius: 5px;
                            color: $color-primary;
                            font-family: $Open-Sans;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }

                .board-block-main-cancel {
                    padding: 8px 15px;
                    background-color: $color-button-cancel;
                    border-radius: 5px;
                    color: $color-primary;
                    font-family: $Open-Sans;
                    font-size: 12px;
                    font-weight: 600;
                }

                .title-menu-button {
                    @include flex-row( space-between, center );

                    .title-menu-dropbox {
                        position: relative;
                        margin-bottom: 5px;

                        button {
                            background: transparent;
                            border: none;
                            z-index: 9999;
                            color: $color-text-dataDesc;
    
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .board-block-main-addButton {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    color: $color-text-dataDesc;
                    margin-top: 10px;

                    &:hover {
                        color: $color-text-dataTitle;
                        cursor: pointer;
                    }
                }

                .board-main-dropdown.active {
                    @include flex-column(flex-start, flex-start);
                }

                .board-main-dropdown {
                    display: none;
                    top: 25px;
                    right: 0;
                    width: 180px;
                    padding:10px;
                    z-index: 9999;
                    background:  rgb(255, 255, 255);
                    border-radius: 5px;
                    position: absolute;
                    -webkit-box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
                    -moz-box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);
                    box-shadow: 0px 0px 13px 1px rgba(97,97,97,0.5);

                    button {
                        color: rgb(87, 87, 87);
                        background-color: rgb(182, 221, 223);
                        width: 100%;
                        font-size: 14px;
                        line-height: 0px;
                        text-align: left;
                        padding: 5px 15px 15px 15px;

                        &:first-of-type {
                            margin-bottom: 5px;
                            border-bottom: 1px solid rgb(219, 219, 219);
                        }

                        &:hover {
                            cursor: pointer;
                            color: $color-text-dataTitle;
                            background-color: rgb(203, 228, 230);
                        }
                    }
                }
    
                h4 {
                    color: $color-text-dataDesc;
                    font-family: $Montserrat;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
    
                ul {
                    list-style-type: none;
                    overflow-y: auto;
                    max-height: 75vh;
                }
    
                .board-block-main--list {
                    background-color: $color-secondary-light;
                    margin-bottom: 10px;
                    padding: 10px 10px;
                    text-align: left;
                    line-height: 18px;
                    font-family: $Open-Sans;
                    -webkit-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                    -moz-box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
                    box-shadow: 0px 1px 2px 0px rgba(150,150,150,1);
    
                    .board-block-main--list--buttons {
                        text-align: right;
                        @include flex-row( space-between, center );

                        .list-date {
                            width: 50%;
                            text-align: left;
                            margin-top: 5px;
                            color: $color-text-dataDate;
                        }

                        .board-block-main--list--buttons__part {
                            width: 50%;
                            button {
                                background: transparent;
                                border: none;
                                color: $color-text-dataDesc;
    
                                &:hover {
                                    cursor: pointer;
                                    color: $color-text-title;
                                }
                            }
                        }
                    }

                    .list-title {
                        font-size: 14px;
                        color: $color-text-dataTitle;
                        font-weight: 600;
                    }
    
                    .list-desc {
                        margin-top: 3px;
                        font-size: 13px;
                        color: $color-text-dataDesc;
                    }
    
                    .list-date {
                        font-size: 10px;
                    }
                }
            }
        }

      
    }
}